<!-- NEW FOR EJS 3.0.1 -->
<%- include("../partials/header") %>

<div class="container pt-3">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">YelpCamp</p>
			<ul class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</ul>
<!-- 		MAP			 -->
		</div>
		<div class="col-md-9">
			<figure class="figure">
  <img src="<%= campground.image %>" class="figure-img img-fluid rounded pb-2" alt="...">
  <figcaption class="figure-caption float-left">
	  <a href=""><%= campground.name %></a>
	</figcaption>
  <figcaption class="figure-caption float-right">$9.00/night</figcaption>
</figure>
		<p>
	<%= campground.description %>
		</p>
		<p><em> Submitted by
	<%= campground.author.username %>
		</p></em>
		
		<!-- Hide/Show buttons upon user authentication and authorization -->
		<!-- We don't have access to foundCampground but we do have access to currentUser=req.user middleware from app.js -->
		<% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
		<!-- Edit  -->
		<div class="pb-md-3">
			<a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
			<!--Delete -->
			<form class="buttonInline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
				<button class="btn btn-sm btn-danger">Delete</button>
			</form>
		</div> 
		<% } %>
		
		<!-- COMMENTS -->
<div class="card">
  <div class="card-header">
	Featured Comments
	<!-- New -->
	  <a class="btn btn-success float-right" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
  </div>
  <div class="card-body">
		<!-- Show   -->
<% campground.comments.forEach(function(comment){ %>
	<div class="row">
		<div class="col-md-12">
			<strong><%= comment.author.username %></strong>
			<span class="float-right">10 days ago</span>
			<p style="color:#000;"> 
			<%= comment.text %>
			</p>

			<!-- Hide/Show buttons upon user authentication and authorization -->
			<!-- We don't have access to foundComment but we do have access to currentUser=req.user middleware from app.js -->
			<% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
			 <!-- Edit  -->
			<div class="pb-md-3">
				<a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
			<!--Delete -->
				<form class="buttonInline" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
					<button class="btn btn-sm btn-danger">Delete</button>
				</form>
			</div> 
		<% } %>
  		</div>
	  </div>
    <% }) %>
  </div>
</div>			

		</div>
	</div>
</div>




<p>
	
</p>




<%- include("../partials/footer") %>